

<header>
	<img src='youtube-logo.png' />
	<div class='searchBox'>
		<input type = 'text' />
		<button class = 'fa fa-search' />
	</div>
	<button class='loginButton'>Sign In</button>
</header>

<section>
	{{outlet}}
</section>


<footer>
	Youtube Notes application in progress
</footer>